# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VSCode
.vscode/

# Results / model outputs
results/
logs/
*.ckpt

# Hugging Face cache (optional)
~/.cache/huggingface/
